#include <winresrc.h>
#include "version.h"

VS_VERSION_INFO	VERSIONINFO
FILEVERSION		VER_FILE_VERSION
PRODUCTVERSION	VER_PRODUCT_VERSION
FILEFLAGSMASK	VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
FILEFLAGS		VS_FF_DEBUG
#else
FILEFLAGS		0x0L
#endif
FILEOS			VOS_NT_WINDOWS32
FILETYPE		VFT_DLL
FILESUBTYPE		VFT2_UNKNOWN
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904B0"
		BEGIN
			VALUE "CompanyName", "mntone"
			VALUE "FileDescription", "Mntone.AngelUmbrella.dll"
			VALUE "FileVersion", VER_FILE_VERSION_STR "\0"
			VALUE "InternalName", "Mntone.AngelUmbrella.dll"
			VALUE "LegalCopyright", "Copyright (c) 2022 mntone. All rights reserved."
			VALUE "OriginalFilename", "Mntone.AngelUmbrella.dll"
			VALUE "ProductName", "Angel Umbrella"
			VALUE "ProductVersion", VER_PRODUCT_VERSION_STR "\0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1200
	END
END
